@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #171717;
  --border: #E5E7EB;
  --text1: #374151;
  --secondary-color: #093a1c;
  --bg2: #0F172A;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text1);
}
